<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Generador de Password</h1>
      <p class="text-centered">
        Este es una pequena app para que generes una contrasena segura para que
        asi Mr. Robot no te puede hackear.
      </p>
      <br />
      <div class="field">
        <label>Longitud</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>
      <p>Que contenga:</p>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Letras
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Numeros
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Simbolos
          </label>
        </div>
      </div>

      <button
        [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        "
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
      >
        Generar!
      </button>

      <div class="box" *ngIf="password">
        <label>Tu Contrasena</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
